@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
  --background: 0 0% 100%;
  --foreground: 222 84% 5%;
  --border: 214 32% 91%;
  --input: 214 32% 91%;
  --ring: 222 84% 5%;
  --primary-color: rgb(15, 11, 122);
  --secondary-color: rgb(14, 20, 199);
  --lightblue-color: rgb(134, 176, 255);
  --light-color: rgb(199, 204, 240);
  --glow-color: rgb(80, 133, 255);
  --dark-color: rgb(3, 4, 33);
}

.item{
  color: var(--light-color);
  padding: 1rem;
  margin: 1rem;
  border: 1px solid rgba(15, 11, 122, 0.404);
  box-shadow: 0 0 20px rgba(15, 11, 122, 0.404);
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

.item h1 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--lightblue-color);
  font-weight: 600;
}

.item .topics{
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.item .topics h2{
  padding: 0.5rem;
  border-radius: 12px;
  border: 1px solid rgba(14, 57, 199, 0.574);
  color: var(--lightblue-color);
  max-width: fit-content;
  font-weight: 300;
}


.navbar {
  background: rgba(0, 0, 0, 0.949);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);

  /* gradiente controlando o blur */
mask-image: linear-gradient(
  to bottom,
  rgba(0,0,0,1) 0%,
  rgba(0,0,0,0.7) 40%,
  rgba(0,0,0,0.3) 70%,
  rgba(0,0,0,0) 100%
);

  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0%,
    black 40%,
    transparent 100%
  );
}

.navbar ul li {
  position: relative;
  cursor: pointer;
  color: var(--light-color);
  font-size: 17px;
  font-family: "Google Sans", sans-serif;
}

.und{
  color: var(--glow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  border-radius: 12px;
  border: 1px solid rgba(40, 88, 192, 0.404);
  background-color: rgba(193, 209, 255, 0.214);
  width: 100px;
  height: 100px;
  transition: 0.3s;
}

.und:hover{
  background-color: rgba(193, 209, 255, 0.404);
  border: 1px solid rgba(40, 88, 192, 0.604);
  transition: 0.5s;
}


.und h3{
  margin-top: 0.5rem;
  color: var(--lightblue-color);
  font-weight: 300;
}

.skills main{
  width: 70%;
}

.navbar ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  height: 2px;
  border-radius: 1px;
  background-color: var(--secondary-color);
  transform: translateX(-50%);
  transition: width 0.3s ease;
}

.navbar ul li:hover::after {
  width: 100%;
}

/* Responsividade */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fundo{
  background-color: black;
}

.background {
  animation: fadeIn 1s ease-out;
}

@media (width <=555px) {
  .navbar {
    justify-content: center;
    padding-top: 2rem;
  }

  .navbar ul {
    display: none;
  }

  .banner{
    margin-top: 2rem;
  }

  .text-typed {
    font-size: 10px;
  }
}

.text-glow {
  text-shadow: 0 0 30px var(--glow-color);
}

.text-typed {
  color: rgb(202, 198, 205);
}


.title{
  color: var(--light-color);
}

@layer base {
  :root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.809 0.105 251.813);
    --chart-2: oklch(0.623 0.214 259.815);
    --chart-3: oklch(0.546 0.245 262.881);
    --chart-4: oklch(0.488 0.243 264.376);
    --chart-5: oklch(0.424 0.199 265.638);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }

  .theme {
    --font-sans: 'Google Sans', sans-serif;
  }

  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  html {
    @apply font-sans;
  }
}